        <!-- Start of page -->
        <ons-page modifier="material" ng-controller="DeviceController">
        <!-- Toolbar and menu button -->
        <ons-toolbar modifier="material">
        <div class="left">
            <ons-toolbar-button ng-click="menu.open()" modifier="material">
            <ons-icon icon="md-menu"></ons-icon>
            </ons-toolbar-button>
        </div>
        <div class="center">Alfred</div>
        </ons-toolbar>
        <ons-list-header modifier="material">Bedroom</ons-list-header>
        <!-- End of  Toolbar and menu button -->
        <!-- Content -->

        <ul class="list">
            <li class="list__header">
                Led1 
            </li>
            <li class="list__item">
                <pos class="text"> {{led1Status}} </pos>
                <pos class="edit">
                <ons-button modifier="material--flat" ng-click="alertEdit()">
                EDIT
                </pos>
                </ons-button>
                <pos class="switch">
                <ons-switch modifier="material" ng-click="led1IsStatus()"></ons-switch>
                </pos>
            </li>
            <li class="list__item">
                <pos class="text"> Color</pos>
                <pos class="range">
                <input ng-model="led1Color" min="0" max="1530" required ng-min="{{min}}" ng-max="{{max}}" type="range" class="range range2--material" ng-change="led1IsColor()">
                </pos>
            </li>
            <li class="list__item">
                <pos class="text"> Brightness {{led1Brightness}}%</pos>
                <pos class="range">
                <input ng-model="led1Brightness" ng-min="{{min}}" ng-max="{{max}}" type="range" class="range range--material" ng-change="led1IsBrightness()">
                </pos>
            </li>
        </ul>
        <!-- End of content -->
        </ons-page>
        <!-- End of page -->
