<!DOCTYPE html>
<html lang="en" ng-app="app">
    <head>
        <meta charset="utf-8" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="mobile-web-app-capable" content="yes" />
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
        <!-- download this locally -->
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,300italic,300,400italic,500,700,700italic,500italic' rel='stylesheet' type='text/css'>
        <title>Alfred Home Assistent</title>

        <link rel="stylesheet" href="lib/onsenui/css/onsenui.css" type="text/css" media="all" />
        <link rel="stylesheet" href="lib/onsenui/css/onsen-css-components-dark-theme.css" type="text/css" media="all" />
        <link rel="stylesheet" href="app.css" type="text/css" media="all" />
        <script src="/socket.io/socket.io.js"></script>
        <!-- download this locally -->
        <script src="lib/onsenui/js/onsenui.js"></script>
        <script src="lib/angular/angular.js"></script>
        <script src="lib/onsenui/js/angular-onsenui.js"></script>
        <script src="app.js"></script>
    </head>

    <body>
        <ons-splitter var="splitter">
        <!-- MENU BAR -->
        <ons-splitter-side var="menu" side="left" width="60%" collapse swipeable>
        <ons-page modifier="material">
        <ons-list modifier="material">
        <ons-list-header modifier="material">Menu</ons-list-header>
        <ons-list-item ng-click="splitter.loadContentPage('living_room.html'); splitter.closeLeft();">
        Living Room
        </ons-list-item>
        <ons-list-item ng-click="splitter.loadContentPage('bedroom.html'); splitter.closeLeft();">
        Bedroom
        </ons-list-item>
        <ons-list-item>
        Hallway
        </ons-list-item>
        <ons-list-item>
        Add Devices
        </ons-list-item>
        </ons-list>
        </ons-page>
        </ons-splitter-side>
        <!-- END OF MENU BAR -->
        <ons-splitter-content page="living_room.html"></ons-splitter-content>
        </ons-splitter>
        <script> /* scipt only here to be able to outcomment this way
        <ons-template id="alert-dialog.html">
        <ons-alert-dialog var="alertDialog">
        <div class="alert-dialog alert-dialog--material">
            <div class="alert-dialog-title alert-dialog-title--material">
                <pos class="edit_popup"> 
                {{title}}
                </pos>
            </div>
            <div class="alert-dialog-content alert-dialog-content--material">
                <pos class="moveto_popup">
                <button class="button button--material--flat">
                    {{button1}}
                </button>
                </pos>
                <pos class="disable_popup">
                <button class="button button--material--flat">
                    {{button2}}
                </button>
                </pos>
            </div>
            <div class="alert-dialog-footer alert-dialog-footer--material">
                <button class="alert-dialog-button alert-dialog-button--material" ng-click="alertDialog.hide()">
                    {{button3}}
                </button>
            </div>
        </div>
        </ons-alert-dialog>
        </ons-template>
        <!-- ALERT DIALOG-->
        */</script>
    </body>
</html>
