<!DOCTYPE html>
<html lang="en" ng-app="app">
    <head>
        <meta charset="utf-8" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="mobile-web-app-capable" content="yes" />
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
        <!-- download this locally -->
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,300italic,300,400italic,500,700,700italic,500italic' rel='stylesheet' type='text/css'>
        <title>Alfred Home Assistent</title>

        <!--
            <link rel="stylesheet" href="lib/onsenui/css/onsenui.css" type="text/css" media="all" />
            <link rel="stylesheet" href="lib/onsenui/css/onsen-css-components.css" type="text/css" media="all" />
        -->
        <link rel="stylesheet" href="lib/onsenui/css/onsenui.css" type="text/css" media="all" />
        <link rel="stylesheet" href="lib/onsenui/css/onsen-css-components-dark-theme.css" type="text/css" media="all" />
        <link rel="stylesheet" href="app.css" type="text/css" media="all" />
        <script src="/socket.io/socket.io.js"></script>
        <!-- download this locally -->
        <script src="lib/onsenui/js/onsenui.js"></script>
        <script src="lib/angular/angular.js"></script>
        <script src="lib/onsenui/js/angular-onsenui.js"></script>
        <script src="app.js"></script>
    </head>

    <body>
        <!-- Cordova reference -->
        <!--<script src="cordova.js"></script>-->
        <!-- -->

        <ons-splitter>
        <ons-splitter-side var="menu" side="left" width="60%" collapse swipeable>
        <ons-page modifier="material">
        <ons-list modifier="material">
        <ons-list-header modifier="material">Menu</ons-list-header>
        <ons-list-item>
        Living Room
        </ons-list-item>
        <ons-list-item>
        Bedroom
        </ons-list-item>
        <ons-list-item>
        Hallway
        </ons-list-item>
        <ons-list-item>
        Add Devices
        </ons-list-item>
        </ons-list>
        </ons-page>
        </ons-splitter-side>
        <ons-splitter-content page="todo.html"></ons-splitter-content>
        </ons-splitter>
        <!-- ALERT DIALOG -->
        <ons-template id="alert-dialog.html">
        <ons-alert-dialog var="alertDialog">
        <div class="alert-dialog alert-dialog--material">
            <div class="alert-dialog-title alert-dialog-title--material">
                <pos class="edit_popup"> 
                {{title}}
                </pos>
            </div>
            <div class="alert-dialog-content alert-dialog-content--material">
                <pos class="moveto_popup">
                <button class="button button--material--flat">
                    {{button1}}
                </button>
                </pos>
                <pos class="disable_popup">
                <button class="button button--material--flat">
                    {{button2}}
                </button>
                </pos>
            </div>
            <div class="alert-dialog-footer alert-dialog-footer--material">
                <button class="alert-dialog-button alert-dialog-button--material" ng-click="alertDialog.hide()">
                    {{button3}}
                </button>
            </div>
        </div>
        </ons-alert-dialog>
        </ons-template>
        <!-- ALERT DIALOG-->

        <!-- Start of page -->
        <ons-template id="todo.html">
        <ons-page modifier="material" ng-controller="TodoController">
        <!-- Toolbar and menu button -->
        <ons-toolbar modifier="material">
        <div class="left">
            <ons-toolbar-button ng-click="menu.open()" modifier="material">
            <ons-icon icon="md-menu"></ons-icon>
            </ons-toolbar-button>
        </div>
        <div class="center">Alfred</div>
        </ons-toolbar>
        <ons-list-header modifier="material">Living Room</ons-list-header>
        <!-- End of  Toolbar and menu button -->
        <!-- Content -->

        <ul class="list">
            <li class="list__header">
                Led1 
            </li>
            <li class="list__item">
                <pos class="text"> {{showingEven}} </pos>
                <pos class="edit">
                <ons-button modifier="material--flat" ng-click="alertEdit()">
                EDIT
                </pos>
                </ons-button>
                <pos class="switch">
                <ons-switch modifier="material" ng-click="isSelected()"></ons-switch>
                </pos>
            </li>
            <li class="list__item">
                <pos class="text"> Color </pos>
                <pos class="range">
                <input type="range" class="range range2--material"> 
                </pos>
            </li>
            <li class="list__item">
                <pos class="text"> Brightness {{brightness1}}%</pos>
                <pos class="range">
                <input ng-model="brightness1" ng-min="{{min}}" ng-max="{{max}}" type="range" class="range range--material" >
                <!--<input type="range" class="range range--material">--> 
                </pos>
            </li>
            <li class="list__header">
                Led2 
            </li>
            <li class="list__item">
                <pos class="text"> Switch: </pos>
                <pos class="edit">
                <ons-button modifier="material--flat">
                EDIT
                </pos>
                </ons-button>
                <pos class="switch">
                <ons-switch  modifier="material"></ons-switch>
                </pos>
            </li>
            <li class="list__item">
                <pos class="text"> Color: </pos>
                <pos class="range">
                <input type="range" class="range range2--material"> 
                </pos>
            </li>
            <li  class="list__item">
                <pos class="text"> Brightness: </pos>
                <pos class="range">
                <input type="range" class="range range--material"> 
                {{swaggers}}
                </pos>
            </li>
        </ul>
        <!-- End of content -->
        </ons-page>
        </ons-template>
        <!-- End of page -->
    </body>
</html>
